body {
  background: linear-gradient(45deg, #f5d76c, #ecf56c);
  font-family: 'Helvetica, Arial, sans-serif';
  min-height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 800px;
  padding: 30px;

  position: relative;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card::before {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-30px, -30px);
}

.card::after {
  z-index: 2;
  background-color: #F5F0EB;
}

.card-content {
  position: relative;
  z-index: 3;
}
